# ---
# - name: Install and Configure Prometheus Stack
#   hosts: servers
#   become: true
  
#   vars:
#     node_exporter_enabled: true
#     node_exporter_bind_address: "0.0.0.0"
#     node_exporter_port: 9100
#     prometheus_server_enabled: true
#     prometheus_server_web_listen_address: "0.0.0.0:9090"
#     prometheus_scrape_configs:
#       - job_name: 'node_exporter_target'
#         static_configs:
#           - targets:
#               - "localhost:9100"
#       - job_name: 'prometheus_target'
#         static_configs:
#           - targets:
#               - "localhost:9090"
            
#   tasks:
#     - name: Ensure old cloudalchemy roles are removed from roles directory
#       ansible.builtin.file:
#         path: "{{ item }}"
#         state: absent
#       loop:
#         - ~/.ansible/roles/cloudalchemy.node_exporter
#         - ~/.ansible/roles/cloudalchemy.prometheus
#       run_once: true

#   roles:
#     - role: prometheus.prometheus.node_exporter
#     - role: prometheus.prometheus.prometheus